*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-home{
  background-image: url('/src/image/sunflowers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

h1{
  color: yellow;
}

